@page "/"
@using Volo.Abp.MultiTenancy
@inherits FileChunkingAuditLogComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md d-flex align-items-center">
                    <div class="pe-0 pe-md-4">
                        <small class="text-uppercase text-muted">Upload file</small>
                        <div class="mb-4">
                            <SfUploader @ref="uploader" ID="chunkFile" MaxFileSize=3000000000 AllowMultiple=false>
                                <UploaderEvents FileSelected="OnSyncfusionFileUploadSelect" ></UploaderEvents>
                                <UploaderAsyncSettings SaveUrl="@saveUrl" ChunkSize="2500000" RetryCount=5 RetryAfterDelay=3000></UploaderAsyncSettings>
                            </SfUploader>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>